In [1]:
import datetime
from datetime import datetime

In [2]:
import matplotlib.pyplot as plt

In [19]:
import pandas as pd
import numpy as np

In [23]:

data = pd.read_excel('sales.xlsx')
#to convert order date in date time format
data.set_index('OrderDate')
data.head(10)

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,2018-01-06,East,Martha,Alexander,Television,95.0,1198.0,113810.0
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50.0,500.0,25000.0
2,2018-02-09,Central,Hermann,Luis,Television,36.0,1198.0,43128.0
3,2018-02-26,Central,Timothy,David,Cell Phone,27.0,225.0,6075.0
4,2018-03-15,West,Timothy,Stephen,Television,56.0,1198.0,67088.0
5,2018-04-01,East,Martha,Alexander,Home Theater,60.0,500.0,30000.0
6,2018-04-18,Central,Martha,Steven,Television,75.0,1198.0,89850.0
7,2018-05-05,Central,Hermann,Luis,Television,90.0,1198.0,107820.0
8,2018-05-22,West,Douglas,Michael,Television,32.0,1198.0,38336.0
9,2018-06-08,East,Martha,Alexander,Home Theater,60.0,500.0,30000.0

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderDate   43 non-null     datetime64[ns]
 1   Region      43 non-null     object
 2   Manager     43 non-null     object
 3   SalesMan    43 non-null     object
 4   Item        43 non-null     object
 5   Units       45 non-null     float64
 6   Unit_price  45 non-null     float64
 7   Sale_amt    45 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 2.9+ KB

In [24]:
pd.to_datatime('OrderDate')

AttributeError: module 'pandas' has no attribute 'to_datatime'

In [22]:
pd.Timestamp()

TypeError: function missing required argument 'year' (pos 1)

In [27]:
today=datetime.now()
today

datetime.datetime(2023, 9, 20, 3, 49, 51, 274074)